[Unit]
Description=Auto Staging EC2 demo
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/auto-staging-ec2-demo
ExecStart=/opt/auto-staging-ec2-demo/auto-staging-ec2-demo
Restart=on-failure

[Install]
WantedBy=multi-user.target